
.no-input-style{
  border: none;          /* Rimuovi il bordo */
  outline: none;         /* Rimuovi il contorno al focus */
  background: none;      /* Rimuovi lo sfondo */
  padding: 0;            /* Rimuovi il padding */
  margin: 0;             /* Rimuovi i margini */
  color: inherit;        /* Mantieni il colore del testo */
  font: inherit;         /* Mantieni il font del contenuto circostante */
}

.no-ul{
 list-style: none;
 margin-top: 2%;
 margin-bottom: 1%;
}

.list-map{
  background-color: rgb(249, 236, 184);
  padding: 2%;
  margin: 0 35%; 
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom:10% ;
}
.flex{
  display: flex;
  flex-direction: row;
 align-items: center;

}

.flex-1{
  display: flex;
  flex: 1;
  flex-direction: row;
 align-items: center;

}
.flex-2{
  display: flex;
  flex: 2;
  margin-right: 2%;
  flex-direction: row;
 align-items: center;
}

.text-left{
  text-align: left;
}


.hide{
display: none ;
}

.text-center{
text-align: center;
}

.button-container {
background-color: rgb(192, 188, 188);
cursor: pointer;
margin-bottom: 5%;
}

.button-container:hover {
 background-color: rgb(255, 168, 127);
  }

 .text-right{
    text-align: right;
  }


 
  .check-box{
 align-items: center;
 margin-left:20%;
 cursor: pointer;
  }

  .round-btn{
    border: none;
    cursor: pointer;
    background: none;
  }
  .round-btn:hover{
    border: none;
    outline: rgb(255, 255, 255) solid;
  }

  .delete-btn{
    cursor: pointer;
  }
  .delete-btn:hover{
    outline: solid red;
    color: rgb(161, 161, 161);
  }

 .margin-left-10{
  margin-left: 10%;
 }

 .input-message{
  text-align: center;
  padding:1%;
  margin: 0;             /* Rimuovi i margini */
  color: inherit;        /* Mantieni il colore del testo */
  font: inherit; 
  width: 100%;
 }

.active{
  background-color: aqua;
}