:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(226, 223, 223);
  color: rgb(0, 0, 0);
  
}

input[type="checkbox"] {
  accent-color: green;
  color:white;
}

input[type="checkbox"]:hover {
  accent-color: rgb(255, 255, 255);
  color:black;
}


.solid-line{
  border: 1px solid rgb(135, 135, 135);
}